<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ProiectPractica.SettingsFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="filePath" value="..\fileSettings.json"/>
	    <add key="connectionString" value="Data Source=C:\Users\AlexandruPop\source\repos\ProiectPractica\configurationDB.db;Version=3;"/>
	</appSettings>
 <applicationSettings>
  <ProiectPractica.SettingsFile>
   <setting name="Setting" serializeAs="String">
    <value />
   </setting>
  </ProiectPractica.SettingsFile>
 </applicationSettings>
</configuration>